
 Methodical recommendations of complying Thesis with standard requirements 

This year you shall undergo the State Final Examination procedure. To complete it successfully, please mind the following information: 
1. Students without academic debts (including sports course) and having successfully completed their pre-graduation internship are allowed to pass the State Final Examination. 
2. Your graduation thesis defense shall last: 
For bachelors – no more than 10 minutes, and 10 minutes are given for Q&A session. 
3. Graduation Thesis Defense helds in English. 
4. Graduation Thesis must be written in English.
5. Graduation thesis defense shall be attended by a visual presentation of your research results (PDF presentation or any other layout); the handouts for the commission members are allowed but not necessarily. 
 6. For admission to Graduation Thesis Defense, you must submit the following documents no later than 10 days before the day of Thesis Defense with your signature, the supervisor’s signature, and the consultant’s signature (if applicable): 
• Thesis in electronic version (in docx or pdf with a text layer); not less than 40 pages 
• Final Thesis Assessment (electronic version); 
• Annotation in Russian language for 4-5 pages (electronic version) 
7. Your supervisor can set another deadline for submitting the thesis, try to comply with it, but the final deadline is 10 days before Thesis Defence. 
8. Graduation thesis and graduation thesis abstract shall meet the following requirements: 
•  black font Times New Roman, font size 14 pt, line spacing – 1,5; 
• page margins: left – 25 mm, the rest margins – 20 mm; 
• borders formatting, first line indent at the beginning of each paragraph (1,25); 
• the name of the drawings under the drawing (on the left with its number),



• the name of the table is placed above the table in the center;


•an example of the design of formulas and equations;




• each chapter (section) of the thesis, foreword, conclusion, appendices or other meaningful parts of the thesis shall begin on a new page; 


• continuous page numbering, the title page has no number (the title page is counted in the numbering); 
• graduation thesis shall be designed using paged links and references placed at the end of the paper. 
9. Graduation thesis shall include the following elements: 
• title page; 
• contents (list of contents) with page numbering; 
• foreword (relevance, purpose, tasks, study object, scientific novelty); 

• the main content of the thesis, including research and practical parts; 
• conclusion; 
• references (at least 30); 
• appendices (if available). 
10. Annotation shall include the following elements: 
• title page 
• contents (list of contents); 
• foreword; 
• a brief description of the main part of graduation thesis with sequential design of practical component of the paper (description of the problems and ways of their solution); 
• conclusion; 
• references. 
11. Thesis will be checked by anti-plagiarism system. If its authenticity is insufficient, it shall be returned for revision. 
12. Recommended amount of bibliographical sources is no less than 30. 
13. In case if you write Thesis in collaboration with other student (or in the group of 2 people and more), then in Thesis, presentation and Final Thesis Assessment it is obligatory to describe the contribution of each participant of the group in the Thesis preparation. 

Методические рекомендации по оформлению выпускной квалификационной работы 

В этом году вам предстоит пройти процедуру государственной итоговой аттестации. Чтобы она завершилась успешно, доводим до Вас следующую информацию: 
1. К государственной итоговой аттестации допускаются студенты, не имеющие академической задолженности (в том числе по физической культуре) и успешно прошедшие преддипломную практику. 
2. Доклад на защите должен длиться: для бакалавров - не более 10 минут, еще 10 минут дается на вопросы членов ГЭК; 
3. Защита ВКР проходит на английском языке. 
4. ВКР должна быть написана на английском языке. 
5. Защита выпускной квалификационной работы должна сопровождаться наглядной презентацией результатов вашего исследования (презентация в формате .pdf или в любом другом формате); допускается использование раздаточного материала для членов комиссии, но это не обязательно. 
6. Для допуска к защите Вам необходимо предоставить следующие документы за 10 дней до защиты ВКР с вашей подписью, подписью научного руководителя и консультанта (если он имеется): 
• ВКР в электронном виде (в формате docx или pdf с текстовым слоем); не менее 40 страниц; 
• Отзыв научного руководителя на ВКР в электронном виде; 
• Аннотацию на ВКР в электронном виде на 4-5 страниц.
7. Ваш научный руководитель может устанавливать вам другие сроки предоставления текста дипломной работы, постарайтесь соблюдать их, но окончательный срок – за 10 дней до защиты ВКР. 
8. Выпускная квалификационная работа и аннотация к выпускной квалификационной работе должны отвечать следующим требованиям: 
• шрифт черного цвета, гарнитуры Times New Roman, размер шрифта 14 pt, полуторный промежуточный интервал; 
• поля страницы: левое – 25 мм, остальные – по 20 мм; 
• текст должен быть отформатирован по ширине страницы, иметь отступы в начале каждого абзаца (1,25); 
• Наименование рисунков размещаем под рисунком (слева с ее номером), 




• наименование таблицы размещаем над таблицей по центру;



•пример оформления формул и уравнений;

• каждая глава (раздел) работы, введение, заключение, приложения или иные смысловые части работы должны начинаться с новой страницы;
• нумерация страниц – сквозная, на титульном листе номер не ставится (титульный лист учитывается в нумерации); 


• выпускная квалификационная работа оформляется с использованием постраничных ссылок и списка использованной литературы, размещенного в конце работы; 
• если поля «Консультанты» - пустые, их можно удалить. 
9. Выпускная квалификационная работа включает в себя следующие элементы: 
• титульный лист; 
• содержание (оглавление) с нумерацией страниц; 
• введение (актуальность темы, цель, задачи, объект исследования, новизна темы исследования); 
• основное содержание работы, включающее исследовательскую и практическую части; 
• заключение; 
• список использованной литературы (не менее 30); 
• приложения (при наличии). 
10. Аннотация к выпускной квалификационной работе включает в себя следующие элементы: 
• титульный лист 
• содержание (оглавление) работы; 
• введение; 
• краткое описание основной части ВКР с последовательным планом построения практической составляющей работы (описание проблем и путей их решения); 
• заключение; 
• список использованной литературы. 
12. Выпускная квалификационная работа будет проверена системой «антиплагиат». Если ее оригинальность будет недостаточной, она будет направлена вам на доработку. 
13. Рекомендуемое количество источников (указываемых в списке использованной литературы) – не менее 30. 
14. При написании совместной ВКР (от 2-х человек и более) в ВКР, презентации и отзывах научного руководителя обязательным является описание вклада каждого из участников группы в подготовку ВКР. 

